aside, nav, .uk-navbar {
    background-color: $offcanvas-bar-background !important;
}

.app-sidebar {
    min-width: 250px;
}


nav.uk-hidden\@m {
    bottom: 5px;
    right: 5px;
    width: 50px;
    position: fixed;
    opacity: 0.5;
    border: 0px;
}


nav.uk-hidden\@m button {
    border: 0px;
}
