.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.movie-selector {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5rem;
  color: unset;
  text-decoration: none;
}

.movie-selector p {
  color: unset;
}



.dvd-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.dvd-list .dvd {
    position: relative;
    text-align: center;
    flex-basis: calc(20% - 2rem);
}

.dvd-list .dvd > img {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  filter: brightness(50%);
}


.dvd-list .dvd .front {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;

}

.mb-2{
  margin-bottom: 2rem;
}

.missing-icon,
.blueray-icon,
.dvd-icon {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
}

.missing-icon svg,
.dvd-icon svg,
.blueray-icon svg
{
    height: 2rem;
    width: 2rem;
}

.blueray-icon svg {
    stroke: #216bc9;
    fill: #216bc9;
}

.missing-icon svg {
    stroke: #c92121;
    fill: #c92121;
}



@media(max-width: 1024px){
    .dvd-list .dvd {
        flex-basis: calc(25% - 0.3rem);
    }
}

@media(max-width: 700px){
    .dvd-list .dvd {
        flex-basis: calc(50% - 0.25rem);
    }
}


.dvd-list .dvd strong {
    padding: 0.2rem;
}

.dvd * {
  color: #fff;
  text-decoration: none;
}





.dvd-list .dvd > img {
  width: 100%;
  height: auto;
  display: block;          /* kills the weird inline gap */
  filter: brightness(50%);
}


.dvd-list .dvd > img.missing {
  filter: brightness(20%);
}

.dvd-list .dvd .front {
  position: absolute;
  inset: 0;                /* same as top/left/bottom/right:0 */
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

a.red {
  background-color: #c92121;
  border-color: #c92121;
}



.seasons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.seasons .season {
    background-color: #3e6e1b;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: unset;
    text-decoration: none;
}

.seasons .season.missing {
    background-color: #c92121;
}

.number-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--pico-primary-background);
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-width: 5rem;
  color: unset;
  text-decoration: none;
}


.row.center-wrap {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}








.chips{
    display:flex;
    flex-wrap:wrap;
    gap:.5rem;
    margin:.75rem 0;
  }

  .chip{
    display:inline-flex;
    align-items:center;
    padding:.35rem .8rem;
    border-radius:999px;
    font-size:.85rem;
    font-weight:600;
    background:#e0f2ff;
    color:#0369a1;
    border:1px solid #bae6fd;
    cursor:pointer;
    transition:background .15s ease;
  }

  .chip:hover{
    background:#bae6fd;
  }